#push to github

In [71]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [72]:
% cd /content/drive/MyDrive/LPAY_DATA/commit_folder/lotte_members

/content/drive/.shortcut-targets-by-id/102BbKNvpFxf2GjBqwgiZLo6oKeUrXpK0/LPAY_DATA/commit_folder/lotte_members

In [73]:
! git config --global user.email 'eowl4588@naver.com'
! git config --global user.name 'Teff'

In [74]:
! git add .

In [75]:
! git commit -m "T_first"

[main 325bcdf] T_first
 1 file changed, 1 insertion(+), 1 deletion(-)
 rewrite One.ipynb (96%)

In [76]:
! git push -u origin main

Counting objects: 3, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 8.30 KiB | 944.00 KiB/s, done.
Total 3 (delta 0), reused 0 (delta 0)
To https://github.com/bsm021031/lotte_members.git
   a09b3be..325bcdf  main -> main
Branch 'main' set up to track remote branch 'main' from 'origin'.

#Main Code

In [15]:
# drive mount
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [31]:
# import package
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##고객 데모 정보

In [36]:
# custmer info
cus_info = pd.read_csv('/content/drive/MyDrive/LPAY_DATA/data/LPOINT_BIG_COMP_01_DEMO.csv')

In [37]:
# column rename
cus_info.columns = ['고객번호','성별','연령대','거주지대분류코드']

In [40]:
# print
cus_info

             고객번호  성별  연령대 거주지대분류코드
0      M000034966  여성  40대      Z07
1      M000059535  여성  30대      Z12
2      M000136117  여성  30대      Z11
3      M000201112  여성  50대      Z17
4      M000225114  여성  40대      Z17
...           ...  ..  ...      ...
29908  M999708287  여성  40대      Z10
29909  M999770689  여성  30대      Z16
29910  M999849895  여성  20대      Z04
29911  M999926092  남성  30대      Z08
29912  M999962961  여성  50대      Z17

[29913 rows x 4 columns]

##유통사 상품 구매 내역

In [41]:
# comp product buy list
buy_list = pd.read_csv('/content/drive/MyDrive/LPAY_DATA/data/LPOINT_BIG_COMP_02_PDDE.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [42]:
# column rename
buy_list.columns = ['고객번호','영수증 번호','채널 구분','제휴사','상품 코드','점포 코드','구매 일자','구매 시간','구매 금액','구매 수량']

In [43]:
buy_list

,고객번호,영수증 번호,채널 구분,제휴사,상품 코드,점포 코드,구매 일자,구매 시간,구매 금액,구매 수량
0,M430112881,A01000001113,1,A01,A010039,PD0290,20210101,10,15000.0,1
1,M646853852,A01000002265,1,A01,A010025,PD1369,20210101,10,79700.0,1
2,M430112881,A01000003148,1,A01,A010039,PD0290,20210101,10,19000.0,1
3,M430112881,A01000003148,1,A01,A010039,PD0290,20210101,10,19000.0,1
4,M430112881,A01000004946,1,A01,A010039,PD0290,20210101,10,19000.0,1
...,...,...,...,...,...,...,...,...,...,...
4381738,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1
4381739,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1
4381740,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1
4381741,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1
4381742,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1

##유통사 이용 정보

In [50]:
# comp used history
history = pd.read_csv('/content/drive/MyDrive/LPAY_DATA/data/LPOINT_BIG_COMP_03_COP_U.csv')

In [58]:
# column rename
history.columns = ['고객번호','영수증 번호','제휴사','점포코드','채널구분','이용일자','방문일자','이용시간','이용금액']

In [59]:
history

,고객번호,영수증 번호,제휴사,점포코드,채널구분,이용일자,방문일자,이용시간,이용금액
0,M839993508,21102612B015763935,B01,B010012,1,20211026,20211026,12,60000
1,M839993508,21110610B014219744,B01,B010012,1,20211106,20211106,10,17100
2,M839993508,21021112B013419710,B01,B010012,1,20210211,20210211,12,136500
3,M839993508,21092010B012637545,B01,B010012,1,20210920,20210920,10,34200
4,M839993508,21101009D015920171,D01,D010614,1,20211010,20211010,9,2500
...,...,...,...,...,...,...,...,...,...
248299,M058650684,21111614C021426818,C02,C020002,1,20211116,20211116,14,2000
248300,M058650684,21111619C023223432,C02,C020002,1,20211116,20211116,19,26900
248301,M014154595,21121209C015324520,C01,C010087,2,20211212,20211212,9,2000
248302,M510878172,21112719C013369102,C01,C010007,2,20211127,20211127,19,6000
248303,M761634870,21122419C013829696,C01,C010014,2,20211224,20211225,19,28000

##유통/제휴사 상품 분류 정보

In [55]:
# comp product category
pro_cate = pd.read_csv('/content/drive/MyDrive/LPAY_DATA/data/LPOINT_BIG_COMP_04_PD_CLAC.csv')

In [56]:
# column rename
pro_cate.columns = ['상품 코드','소분류명','대분류명','중분류명']

In [57]:
pro_cate

       상품 코드      소분류명      대분류명  중분류명
0     PD0001        소파        가구  거실가구
1     PD0002   스툴/리빙의자        가구  거실가구
2     PD0003        탁자        가구  거실가구
3     PD0004   장식장/진열장        가구  거실가구
4     PD0005      기타가구        가구  기타가구
...      ...       ...       ...   ...
1928  PD1929      여성향수  화장품/뷰티케어    향수
1929  PD1930      남성향수  화장품/뷰티케어    향수
1930  PD1931    남녀공용향수  화장품/뷰티케어    향수
1931  PD1932    남성향수세트  화장품/뷰티케어    향수
1932  PD1933  남녀공용향수세트  화장품/뷰티케어    향수

[1933 rows x 4 columns]

##제휴사 점포 정보

In [62]:
# comp store info
store = pd.read_csv('/content/drive/MyDrive/LPAY_DATA/data/LPOINT_BIG_COMP_05_BR.csv')

In [63]:
# column rename
store.columns = ['점포 코드','제휴사','점포대분류코드','점포중분류코드']

In [64]:
store

        점포 코드  제휴사 점포대분류코드 점포중분류코드
0     A010001  A01     Z17  Z17024
1     A010002  A01     Z17  Z17018
2     A010003  A01     Z17  Z17011
3     A010004  A01     Z16  Z16007
4     A010005  A01     Z17  Z17005
...       ...  ...     ...     ...
8803  E010040  E01     Z17  Z17024
8804  E010041  E01     Z16  Z16005
8805  E010042  E01     Z17  Z17021
8806  E010043  E01     Z10  Z10035
8807  E010044  E01     Z12  Z12014

[8808 rows x 4 columns]

##엘페이 이용 내역

In [68]:
# LPAY history
lpay = pd.read_csv('/content/drive/MyDrive/LPAY_DATA/data/LPOINT_BIG_COMP_06_LPAY.csv')

In [69]:
# column rename
lpay.columns = ['고객번호','제휴사','채널 구분','영수증번호','이용일자','이용시간','이용금액']

In [70]:
lpay

              고객번호              제휴사 채널 구분  영수증번호      이용일자  이용시간    이용금액
0       M629656521  210803210311226   A03      1  20210803    21   10900
1       M216016456  210803130167542   L01      2  20210803    13    6860
2       M205142844  210803140275112   A02      1  20210803    14    9000
3       M737010483  210803040637594   A06      2  20210803     4   36740
4       M707775545  210803140675502   A06      2  20210803    14  138500
...            ...              ...   ...    ...       ...   ...     ...
353179  M470112503  210125110644545   A06      2  20210125    11   51800
353180  M470112503  210104210652271   A06      2  20210104    21    6440
353181  M748878049  210119200278240   A02      1  20210119    20   17600
353182  M748878049  210119180267206   A02      1  20210119    18   12400
353183  M748878049  210119150154756   C01      2  20210119    15    5000

[353184 rows x 7 columns]